* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    color: #000;
}

.contenedor {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #B58A69;
    display: grid;
    place-items: center;
}

header h1 {
    color: #BADA55;
    font-size: 40px;
}

nav {
    margin: 1rem;
}

.h1 {
    font-size: 32px;
    color: #000;
    margin: 10px;
}

p {
    font-size: 15px;
    text-align: justify;
    margin: 10px;
}

.sec{
    background-color: #DEE5DE;
    margin: auto 50px auto 50px;
}

.img {
    margin: 10px;
    width: 340px;
    height: 190px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.secab {
    background-color: #D7D7CB;
    display: grid;
    place-items: center;
    margin: auto 50px auto 50px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem;
}

img {
    width: 150px;
    height: 120;
    object-fit: cover;
}

footer {
    background-color: #5E5E4A;
    display: grid;
    place-items: center;
    margin: auto 50px auto 50px;
}

footer h2 {
    color: #E8E6E6;
    font-size: 14px;
    padding: 10px;
}

ul {
    list-style: none;
    text-align: center;
}

@media(min-width:650px) {
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: red;
    font-size: 18px;
}

button {
    border: none;
    background-color: #5E5E4A;
    padding: 10px 30px;
    margin: 10px;
    margin-left: 110px;
    color: white;
    cursor: pointer;
}
